includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/factories
        - database/seeders

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
         - '#PHPDoc tag @property has invalid value.*#'
         - '#Access to an undefined property App\\Http\\Resources\\.*#'
         - '#Call to an undefined method App\\Http\\Resources\\.*#'
         - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$user#'
         - '#Static call to instance method .*::factory\(\)#'
         - '#Using nullsafe property access on non-nullable type App\\Models\\Comment#'
         - '#Access to an undefined property Laravel\\Cashier\\Checkout::\$url#'
         - '#Call to method .* on an unknown class Laravel\\Cashier\\Billable#'

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
